<!-- <p><input type="text" [(ngModel)]="imgParent"></p>
<app-img (loaded)="onLoaded($event)" [img]="imgParent"></app-img> -->
<app-nav></app-nav>
<app-products></app-products>
<!-- <hr>
<form (ngSubmit)="onRegister()" #myForm="ngForm" >
  <div class="input-group">
    <label for="name">Name</label>
    <input type="text" name="name" required id="name" [(ngModel)]="register.name">
    <p>Error Messages</p>
  </div>
  <div class="input-group">
    <label for="name">Email</label>
    <input type="text" name="Email" required id="Email" [(ngModel)]="register.email">
    <p>Error Messages</p>
  </div>
  <div class="input-group">
    <label for="name">Password</label>
    <input type="text" name="Password" required id="Password" [(ngModel)]="register.password">
    <p>Error Messages</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Register</button>
</form> -->


<!-- <h1>*ngfor</h1>
<button (click)="addName()">Add name</button>
<input type="text" required [(ngModel)]="newName"/>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">{{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr/>
<h1>*ngmodel</h1>
<input type="text" [(ngModel)]="person.name"/>
<p *ngIf="person.name === 'nicolas'" >Soy Nicolas</p>
<hr/>
<h1>ngmodel</h1>
<p>Name: {{person.name}}</p>
<input type="text" #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid: {{nameInput.valid}}</p>
<hr/>
<h1>EVENTOS</h1>

<button [disabled]="btnDisabled">Send</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Increment age</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, voluptates eaque? Alias ut provident quibusdam voluptatibus eligendi a laudantium inventore! In quaerat consequatur nulla! Maxime tempore hic accusamus ut natus!</p>

</div>
<p>Name: {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)"/>
<hr/>
<h1>Propiedades</h1>
<progress max="100" [value]="age"></progress>
<h1>Hola mundo</h1>
<h2>{{'L O L A S - '.repeat(5)}}</h2>
<p>3+3 = {{3+3}}</p>
<img [src]="img" alt="image">
<h1>Probando objetos</h1>
<input type="text" [value]="person.name"/>
<progress max="50" [value]="person.age"></progress>
<img [src]="person.avatar" alt="image"> -->
